<div class="top-container">
  

    <div class="menu">
       
        <img src="../../../assets/img/Logotipo.png" width="100px" height="200px">
        <ul class="lista-menu">
            <li><a href="">Sobre mim</a></li>
            <li><a href="">Projetos</a></li>
            <li><a href="">Contatos</a></li>
        </ul>
    </div>




    <div class="big-card">
        <div class="card-left">
            <div class="titulo">
                <h2>Desenvolvedor Full Stack</h2>
                <h1>Ola eu sou Joao Vitor</h1>

            </div>

            <div class="descricao">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcu quis
                    quam euismod imperdiet.
                    Sed ullamcorper orci nec lacinia iaculis. Suspendisse vel nisl augue.
                </p>
                    
            </div>

            <div class="links">


                <div class="esquerda">
                    <a href="" class="pro">PROJETOS</a>
                </div>
                <div class="direita">
                    <a href="" class="link">LINKEDIN</a>
                </div>
            </div>

        </div>


        <div class="card-right">

            <div class="photo">

                <img src="../../../assets/img/Rectangle 20.png" alt="">
            </div>

        </div>

    </div>
</div>