
<div class="container">

  <div class="top">
    <app-top></app-top>
  </div>
  <div class="mid">
    
    <app-small-card 
    [photo]="'../assets/img/qop.jpeg'"
    [titulo]="'HTML | CSS'"
    [nome]="'Lorem'"
    [descricao]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd'"
    ></app-small-card>
    <app-small-card
    [photo]="'../assets/img/thorfin.jpg'"
    [titulo]="'HTML | CSS'"
    [nome]="'Lorem'"
    [descricao]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd'"
    ></app-small-card>
    <app-small-card
    [photo]="'../assets/img/jg.webp'"
    [titulo]="'HTML | CSS'"
    [nome]="'Lorem'"
    [descricao]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd'"
    ></app-small-card>
    <app-small-card
    [photo]="'../assets/img/fu.jpeg'"
    [titulo]="'HTML | CSS'"
    [nome]="'Lorem'"
    [descricao]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd'"
    ></app-small-card>
    <app-small-card
    [photo]="'../assets/img/gon.jpeg'"
    [titulo]="'HTML | CSS'"
    [nome]="'Lorem'"
    [descricao]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd'"
    ></app-small-card>
    <app-small-card
    [photo]="'../assets/img/abyss.jpeg'"
    [titulo]="'HTML | CSS'"
    [nome]="'Lorem'"
    [descricao]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet arcuasdasd'"
    ></app-small-card>
  </div>

  <div class="section-bot">
    <app-pernas></app-pernas>
  </div>
  
 
</div>

<router-outlet></router-outlet>


